.card-container {
    border-radius: 5px; /* 5px rounded corners */
    width: 25%;
    margin: 2.5%;
    display: inline-block;
}
.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transform-style: preserve-3d;
	transition: all 0.4s linear;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card .person {
    border-radius: 5px 5px 0 0;
	width: 100%;
}

.card-text, .card-title {
	margin-bottom: 0;
}

.person.after {
	position: absolute;
	backface-visibility: hidden;
}

.person.before {
	transform: rotateY(180deg);
}

.card:hover .person.before {
	display: inline-block;
}

.card-container:hover .card{
	transform: rotateY(180deg);
}